.App {
  padding: 15px;
}

.tittle {
  text-align: center;
}

.wrapper {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px ;
}